// banner


h1 {
	font-weight: bold;
	font-size: 46px;
	line-height: 56px;
	margin-bottom: 65px;
  }

.main_title {
    margin-top: 96px;
}

.main_banner {
    margin-bottom: 45px;
}

// secondary sections title

.section__title {
	font-weight: 700;
	font-size: 34px;
	// line-height: 41px;
	line-height: 1;
	margin-bottom: 48px;

	a {
		font-weight: 400;
		font-size: 18px;
		line-height: 1;
		text-align: right;
		color: $red;
		text-decoration: none;
		border-bottom: 1px dashed $red;
		&:hover {
			border: none;
		}
	}
  }