// wrappers 

// advantages

.advantages {
    padding-top: 144px;
    padding-bottom: 160px;
}

// popular categories

.popularCategories {
    padding-bottom: 184px;
}


.popularModels {
    padding-bottom: calc(200px - 88px);
}

// reviews

.reviews {
    padding-bottom: 200px;
}   

// faq

.faq {
    padding-bottom: 130px;
}