// wrappers 

// advantages

.advantages {
    padding-top: 144px;
    padding-bottom: 150px;
}

// popular categories

.popularCategories {
    padding-bottom: 190px;
}


.popularModels {
    padding-bottom: calc(200px - 90px);
}

// reviews

.reviews {
    padding-bottom: 185px;
}   

// faq

.faq {
    padding-bottom: 130px;
}