@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900");
* {
  margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

dl,
ol,
ul {
  margin-bottom: 0;
}

a {
  color: #1C1B1B;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  display: block;
  background: transparent;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

input:focus {
  outline: none;
}

body {
  color: #1C1B1B;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-right: 8px;
  padding-left: 8px;
}

@media (min-width: 1308px) {
  .container {
    max-width: 1308px;
    padding: 0 14px;
    margin: 0 auto;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

.btn {
  color: #fff;
  background: transparent;
  text-align: center;
  padding: 13px 31px;
  font-size: 18px;
  line-height: 22px;
  border: 2px solid #FFFFFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.btn:hover {
  background: #fff;
  color: #1C1B1B;
}

.btn-bordered {
  border-radius: 30px;
}

.btn-red {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid #D20B16;
  color: #D20B16;
}

.btn-red:hover {
  background: #D20B16;
  color: #fff;
}

.header {
  padding-top: 32px;
  padding-bottom: 38px;
  border-bottom: 1px solid #E1E5EB;
}

.header .nav {
  margin-bottom: 8px;
}

.header .nav-link {
  color: #1C1B1B !important;
  padding: 0 20px;
  font-size: 18px;
  line-height: 22px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .nav_left .nav-link:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .nav_right .nav-link:hover {
  color: #D20B16 !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.logo {
  margin-right: 20px;
}

.cart_and_search .search {
  margin-left: 4px;
  margin-bottom: 6.5px;
}

.cart_and_search .search svg path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cart_and_search .search:hover svg path {
  fill: #D20B16;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cart_and_search .cart {
  margin-left: 30px;
  margin-bottom: 4.5px;
}

.cart_and_search .cart svg path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cart_and_search .cart:hover svg path {
  fill: #D20B16;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .col-lg-12 {
  position: relative;
}

.submenu {
  display: none;
  background-color: #fff;
  padding: 24px 0;
  left: 0;
  top: 108px;
  z-index: 2;
  position: absolute;
  width: 100%;
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.submenu .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.submenu .item {
  color: white;
  padding-right: 35px;
}

.submenu .item:first-child {
  max-width: 380px;
  width: 100%;
}

.submenu .item:nth-child(2) {
  max-width: 360px;
  width: 100%;
}

.submenu .item:nth-child(3) {
  max-width: 280px;
  width: 100%;
}

.submenu .item:last-child {
  max-width: 250px;
  width: 100%;
  padding-right: 0;
}

.submenu .item__noTitle {
  padding-top: 35px;
}

.submenu .item__models ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.submenu .item__models ul li {
  margin-right: 22px;
}

.submenu .item__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 35px;
  color: #1C1B1B;
  margin-bottom: 0;
}

.submenu .item .list li.bold a {
  font-weight: bold;
}

.submenu .item .list li {
  padding-bottom: 1px;
}

.submenu .item .list li a {
  font-size: 18px;
  line-height: 37px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.submenu .item .list li a:hover {
  color: #D20B16 !important;
  text-decoration: none !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.submenu .item .list li a.color_red {
  color: #D20B16 !important;
  text-decoration: none !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.submenu__bottom {
  margin-top: 16px;
}

.submenu__bottom-title {
  font-size: 14px;
  line-height: 36px;
  color: #969696;
  margin-bottom: 0;
}

.submenu__bottom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.submenu__bottom-list li {
  margin-right: 32px;
}

.submenu__bottom-list li a {
  font-size: 16px;
  line-height: 36px;
  color: #1C1B1B;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.submenu__bottom-list li a:hover {
  color: #D20B16 !important;
  text-decoration: none !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.search {
  position: relative;
}

.search__icon {
  position: relative;
  z-index: 101;
}

.search__icon.active svg path {
  fill: #D20B16 !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.search__field {
  display: none;
  background: #fff;
  position: absolute;
  z-index: 100;
  border: 1px solid #1C1B1B;
  padding: 12px 20px;
  padding-right: 40px;
  width: 490px;
  top: -9px;
  right: -9px;
}

.search__field input {
  font-size: 18px;
  color: rgba(28, 27, 27, 0.4) !important;
  line-height: 1;
  cursor: text;
  width: 100%;
}

input::-webkit-input-placeholder {
  color: rgba(28, 27, 27, 0.4) !important;
  font-size: 18px;
  line-height: 1;
}

input::-ms-input-placeholder {
  color: rgba(28, 27, 27, 0.4) !important;
  font-size: 18px;
  line-height: 1;
}

input::placeholder {
  color: rgba(28, 27, 27, 0.4) !important;
  font-size: 18px;
  line-height: 1;
}

.search__icon {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  outline: none !important;
}

@media (max-width: 1308px) {
  .search__field {
    width: 425px;
  }
}

@media (max-width: 1200px) {
  .search__field {
    width: 361px;
  }
}

@media (max-width: 991px) {
  .search__field {
    width: 305px;
    padding: 10px 20px;
    top: -6px;
  }

  .search__field input {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .search__field {
    width: 260px;
  }
}

h1 {
  font-weight: bold;
  font-size: 46px;
  line-height: 56px;
  margin-bottom: 65px;
}

.main_title {
  margin-top: 96px;
}

.main_banner {
  margin-bottom: 45px;
}

.section__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1;
  margin-bottom: 48px;
}

.section__title a {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  text-align: right;
  color: #D20B16;
  text-decoration: none;
  border-bottom: 1px dashed #D20B16;
}

.section__title a:hover {
  border: none;
}

.advantages {
  padding-top: 144px;
  padding-bottom: 150px;
}

.popularCategories {
  padding-bottom: 190px;
}

.popularModels {
  padding-bottom: calc(200px - 90px);
}

.reviews {
  padding-bottom: 185px;
}

.faq {
  padding-bottom: 130px;
}

.collection_card {
  display: block;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
}

.collection_card img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: block;
  overflow: hidden;
}

.collection_card img:hover {
  -webkit-transform: scale(1.14);
  transform: scale(1.14);
}

.collection_card--small .collection_card__title {
  font-size: 24px;
  line-height: 29px;
  bottom: 24px;
}

.collection_card__title {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 41px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #fff;
  padding: 0 28px;
  width: 100%;
  margin-bottom: 0;
  position: absolute;
  left: 0;
  bottom: 38px;
}

.advantage__icon {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #F1F1F1;
  border-radius: 50%;
  margin-bottom: 28px;
}

.advantage__text {
  font-size: 22px;
  line-height: 34px;
}

.popular__box {
  margin-bottom: 16px;
  padding: 28px;
  height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-repeat: no-repeat;
}

.popular__box-title {
  font-size: 34px;
  line-height: 41px;
  margin-bottom: 15px;
  font-weight: 500;
  color: #fff;
}

.popular__box-text {
  font-size: 22px;
  line-height: 34px;
  color: #fff;
}

.popular__box-btn {
  margin-right: 16px;
  font-weight: normal;
  font-size: 18px;
  padding: 14px 30px;
}

.popular__sidebar {
  margin-bottom: 16px;
  padding: 28px;
  height: calc(100% - 14px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-repeat: no-repeat;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.popular__sidebar-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 11px;
  color: #fff;
}

.popular__sidebar-text {
  font-size: 22px;
  line-height: 34px;
  color: #fff;
  margin-bottom: 41px;
}

.popular__sidebar-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.popular__sidebar-btn {
  margin-bottom: 21px;
  font-weight: normal;
  font-size: 20px;
  padding: 14px 50px;
}

.popular__sidebar-btn:last-child {
  margin-bottom: 0;
}

.card__box {
  margin-bottom: 93px;
}

.card__box-img {
  height: 182px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card__box-img img {
  max-width: 100%;
  height: auto;
}

.card__box-title {
  font-size: 22px;
  line-height: 27px;
  margin-top: 6px;
  margin-bottom: 28px;
}

.card__box-btn {
  margin-right: 13px;
}

.card__box-btn:last-child {
  margin-right: 0;
}

.reviews__box-img {
  margin-bottom: 32px;
}

.reviews__box-stars {
  margin-bottom: 20px;
}

.reviews__box-star {
  margin-right: 14px;
}

.reviews__box-star:last-child {
  margin-right: 0;
}

.reviews__box-text {
  font-size: 16px;
  line-height: 27px;
  padding-right: 31px;
}

.reviews__box-text .show_more {
  display: block;
  font-size: 16px;
  line-height: 47px;
  color: #D20B16;
  text-decoration: underline;
}

.reviews__box-text .show_more:hover {
  text-decoration: none;
}

.faq__item {
  background: #F1F1F1;
  margin-bottom: 8px;
  padding: 34px 26px;
  cursor: pointer;
}

.faq__item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.faq__item-top .arrow svg {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.faq__item-top.active .arrow svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.faq__item-top:hover {
  opacity: 0.7;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.faq__item-top .text {
  font-weight: bold;
  font-size: 18px;
  color: #1C1B1B;
  margin-bottom: 0;
}

.faq__submnenu {
  display: none;
  margin-top: 20px;
}

.faq__submnenu p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
}

.faq__submnenu i {
  font-size: 14px;
  line-height: 19px;
}

/* media queries */

.footer {
  padding-top: 69px;
  background: #F1F1F1;
}

.footer h6 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
}

.footer ul.bold_list li {
  margin-bottom: 14px;
}

.footer ul.bold_list li a {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.footer ul li a {
  font-size: 18px;
  line-height: 36px;
  color: #1C1B1B !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer ul li a:hover {
  color: #D20B16 !important;
  text-decoration: none !important;
}

.footer ul li a.red_color {
  color: #D20B16 !important;
}

.footer ul li.show_all a {
  border-bottom: 1px dashed rgba(28, 27, 27, 0.4);
  text-decoration: none !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer ul li.show_all a:hover {
  border: none;
  color: #D20B16 !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.social_icons__icon {
  margin-right: 19px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.social_icons__icon img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.social_icons__icon:last-child {
  margin-right: 0;
}

.social_icons__icon:hover {
  opacity: 0.7;
}

.footer__bottom {
  margin-top: 64px;
  padding-top: 24px;
  padding-bottom: 27px;
  border-top: 1px solid rgba(28, 27, 27, 0.1);
}

.footer__bottom-privacy {
  font-size: 18px;
  color: #848484;
  margin-bottom: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__bottom-privacy:hover {
  color: #D20B16;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__bottom-copy {
  font-size: 18px;
  color: #848484;
  margin-bottom: 0;
}

.popular__box {
  background-size: cover;
  background-position: center center;
}

@media (max-width: 1308px) {
  .header .nav-link {
    padding: 0 14px;
  }
}

@media (max-width: 1200px) {
  .header .nav-link {
    padding: 0 15px;
    font-size: 14px;
  }

  .logo {
    max-width: 130px;
  }

  .logo img {
    max-width: 100%;
    height: auto;
  }

  .cart_and_search .cart {
    margin-left: 25px;
    margin-bottom: 0;
  }

  .cart_and_search .search {
    margin-left: 8px;
    margin-bottom: 0;
  }

  .header .nav {
    margin-bottom: 0;
  }

  .header_col {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }

  h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 50px;
  }

  .main_title {
    margin-top: 80px;
  }

  .advantages {
    padding-top: 130px;
    padding-bottom: 135px;
  }

  .advantage__text {
    font-size: 18px;
    line-height: 30px;
  }

  .section__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 38px;
  }

  .popular__box-title {
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 15px;
  }

  .popular__box-text {
    font-size: 18px;
    line-height: 27px;
  }

  .popular__sidebar-title {
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 15px;
  }

  .popular__sidebar-text {
    font-size: 18px;
    line-height: 27px;
  }

  .popularCategories {
    padding-bottom: 135px;
  }

  .card__box-btn {
    margin-right: 9px;
    padding: 10px 23px;
    font-size: 16px;
  }

  .popularModels {
    padding-bottom: calc(150px - 90px);
  }

  .reviews {
    padding-bottom: 130px;
  }

  .faq {
    padding-bottom: 100px;
  }

  .footer ul.bold_list li {
    margin-bottom: 14px;
    padding-right: 1px;
  }

  .footer ul.bold_list li a {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
  }

  .footer h6 {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 12px;
  }

  .footer ul li a {
    font-size: 14px;
    line-height: 30px;
  }

  .footer {
    padding-top: 50px;
  }

  .footer__bottom {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__bottom-privacy,
  .footer__bottom-copy {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .header .nav {
    display: none;
  }

  .collections img {
    max-width: 100%;
  }

  .header .nav-link {
    padding: 0 15px;
    font-size: 14px;
  }

  .logo {
    max-width: 145px;
  }

  .logo img {
    max-width: 100%;
    height: auto;
  }

  .cart_and_search .cart {
    margin-left: 24px;
    margin-bottom: 0;
  }

  .cart_and_search .search {
    margin-left: 8px;
    margin-bottom: 0;
  }

  .header {
    padding: 15px 0;
  }

  .header .nav {
    margin-bottom: 0;
  }

  .header_col {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }

  h1 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 22px;
  }

  .main_title {
    margin-top: 36px;
  }

  .main_banner {
    margin-bottom: 25px;
  }

  .collection_card__title {
    font-size: 22px;
    line-height: 28px;
    padding: 0 24px;
    bottom: 15px;
  }

  .collection_card--small .collection_card__title {
    font-size: 20px;
    line-height: 24px;
    bottom: 10px;
  }

  .advantages {
    padding-top: 142px;
    padding-bottom: 68px;
  }

  .advantage {
    margin-bottom: 60px;
  }

  .advantage__text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
  }

  .section__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 24px;
  }

  .popular__box-title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 16px;
  }

  .popular__sidebar-title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 15px;
  }

  .popular__box-btn {
    margin-right: 12px;
    font-weight: normal;
    font-size: 16px;
    padding: 12px 22px;
  }

  .section__title a {
    font-size: 16px;
  }

  .popularCategories {
    padding-bottom: 132px;
  }

  .card__box {
    margin-bottom: 64px;
  }

  .popularModels {
    padding-bottom: 88px;
  }

  .reviews__box-img {
    margin-bottom: 28px;
  }

  .reviews__box-text {
    margin-bottom: 0;
  }

  .reviews__box {
    margin-bottom: 50px;
  }

  .reviews {
    padding-bottom: 30px;
  }

  .faq__item-top .text {
    font-size: 16px;
  }

  .faq__item {
    margin-bottom: 8px;
    padding: 16px;
  }

  .faq__submnenu p {
    font-size: 14px;
  }

  .faq {
    padding-bottom: 80px;
  }

  .footer ul.bold_list li {
    margin-bottom: 8px;
    padding-right: 1px;
  }

  .footer ul.bold_list li a {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
  }

  .footer h6 {
    font-weight: bold;
    font-size: 12px;
    line-height: 19px;
    margin-bottom: 12px;
  }

  .footer ul li a {
    font-size: 12px;
    line-height: 30px;
  }

  .footer {
    padding-top: 50px;
  }

  .footer__bottom {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__bottom-privacy,
  .footer__bottom-copy {
    font-size: 14px;
  }

  .social_icons {
    margin-top: 40px;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  .social_icons__icon {
    max-width: 40px;
  }
}

@media (max-width: 767px) {
  .collection_card__title {
    font-size: 28px;
    bottom: 32px;
    text-align: center;
  }

  .collection_card--small .collection_card__title {
    font-size: 24px;
    line-height: 29px;
    bottom: 20px;
  }

  .advantages {
    padding-top: 132px;
    padding-bottom: 68px;
  }

  .advantage {
    text-align: center;
  }

  .advantage__icon {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  }

  .popular__box-text br {
    display: none;
  }

  .popular__box {
    background-size: cover;
  }

  .popular__box-1 {
    background-position: 80% center;
    height: 480px;
  }

  .popular__box-2 {
    background-position: 52% center;
    height: 480px;
  }

  .popular__box-4 {
    background-position: center;
    height: 357px;
  }

  .popular__box-5 {
    background-position: center;
    height: 357px;
  }

  .popular__sidebar {
    height: 564px;
    background-size: cover;
  }

  .popular__sidebar-title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 16px;
  }

  .popular__sidebar-desc {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 55px;
  }

  .popular__sidebar-btn {
    margin-bottom: 12px;
  }

  .popular__box-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .popular__box-btn {
    display: block;
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 12px;
    padding: 14px 22px;
  }

  .card__box-btn {
    font-size: 18px;
    margin-right: 18px;
    padding: 14px 30px;
  }

  .card__box-btn:last-child {
    margin-right: 0;
  }

  .section__title a {
    display: none;
  }

  .footer {
    padding-top: 24px;
  }

  .footer ul.bold_list li a {
    font-size: 18px;
    line-height: 50px;
  }

  .footer ul.bold_list li {
    padding: 0;
    margin: 0;
  }

  .footer ul li a {
    font-size: 18px;
    line-height: 44px;
  }

  .footer h6 {
    margin-top: 20px;
    font-size: 18px;
    line-height: 44px;
    margin-bottom: 0;
  }

  .footer ul li.show_all a {
    border: none;
  }

  .border_bottom {
    padding-bottom: 22px;
    border-bottom: 1px solid rgba(28, 27, 27, 0.1);
  }

  .footer ul.bold_list li.bordered_on_mobile {
    padding: 20px 0;
    border-bottom: 1px solid rgba(28, 27, 27, 0.1);
  }

  .footer ul.bold_list li.bordered_on_mobile a {
    font-size: 18px;
    line-height: 28px;
  }

  .social_icons__icon {
    max-width: 56px;
  }

  .social_icons {
    margin-top: 35px;
  }

  .footer__bottom {
    margin-top: 24px;
    padding-top: 0;
    padding-bottom: 44px;
    border: 0;
  }

  .footer__bottom .col-lg-12 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__bottom-privacy,
  .footer__bottom-copy {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .footer__bottom-privacy {
    margin-bottom: 13px;
  }

  .collections img {
    width: 100%;
  }

  .reviews__box-img img {
    width: 100%;
  }
}

@media (max-width: 351px) {
  .card__box-btn {
    font-size: 16px;
    margin-right: 11px;
    padding: 14px 28px;
  }

  .footer__bottom-privacy,
  .footer__bottom-copy {
    font-size: 16px;
  }

  .logo {
    max-width: 100px;
  }
}

.burger {
  display: none;
}

.mobile_controls {
  display: none;
}

.submenu__modal__bottom {
  display: none;
}

@media (max-width: 1200px) {
  .submenu {
    top: 85px;
  }
}

@media (max-width: 991px) {
  .submenu__modal {
    width: 0;
    overflow: hidden;
    height: 100vh;
    background: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
  }

  .submenu__modal__close {
    position: absolute;
    right: 43px;
    top: 43px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .submenu__modal__close:hover {
    opacity: 0.5;
  }

  .submenu__modal-overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(28, 27, 27, 0.8);
    z-index: -1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .submenu__modal-overlay.open {
    z-index: 9999;
    opacity: 1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .submenu__modal-overlay.open .submenu__modal {
    width: 100%;
    max-width: 320px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    height: 100vh;
    overflow-y: scroll;
  }

  .submenu__modal-overlay.open .mobile_controls {
    display: block;
  }

  .submenu__modal-overlay.open .submenu:first-child {
    display: block;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .open-menu-js {
    cursor: pointer;
    margin-top: 5px;
    margin-right: 22px;
  }

  .open-menu span {
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 8px;
    position: relative;
    background: #1C1B1B;
    border-radius: 33px;
    z-index: 1;
  }

  .open-menu span:first-child {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }

  .open-menu span:nth-last-child(2) {
    width: 30px;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }

  .open-menu span:last-child {
    margin-bottom: 0;
  }

  .submenu .items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .mobile_controls .nav_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 28px;
    margin-bottom: 38px;
  }

  .mobile_controls .nav-item {
    padding-bottom: 22px;
    margin-right: 14px;
  }

  .mobile_controls .nav-item:last-child {
    margin-right: 0;
  }

  .mobile_controls .nav-item.active {
    border-bottom: 4px solid #D20B16;
  }

  .mobile_controls .nav-item.active .nav-link {
    color: #D20B16 !important;
  }

  .mobile_controls .nav-link {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
  }

  .submenu {
    padding-top: 0;
  }

  .submenu .item .list li.bold {
    margin-bottom: 34px;
  }

  .submenu .item .list li a {
    font-size: 18px;
    line-height: 37px;
  }

  .submenu .item {
    padding-right: 33px;
    margin-bottom: 34px;
  }

  .submenu .item__noTitle {
    padding-top: 0;
  }

  .submenu__bottom-list li {
    margin-right: 30px;
  }

  .submenu__bottom {
    margin-top: 0;
  }

  .submenu {
    position: static;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .submenu__modal__bottom {
    border-top: 1px solid rgba(28, 27, 27, 0.1);
    display: block;
    padding-top: 28px;
    padding-bottom: 56px;
  }

  .submenu__modal__bottom-list li a {
    color: #1C1B1B;
    font-size: 18px;
    line-height: 50px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none !important;
  }

  .submenu__modal__bottom-list li a:hover {
    color: #D20B16;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .submenu__modal__bottom-social .social_icons {
    margin-top: 28px;
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
}

.secondaryPages {
  padding-top: 56px;
  padding-bottom: 68px;
}

.secondaryPages h1 {
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  padding-bottom: 0;
  margin-bottom: 28px;
}

.secondaryPages__content h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-top: 29px;
  margin-bottom: 8px;
}

.secondaryPages__content p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 19px;
}

.secondaryPages__content > h2 {
  margin-top: 0;
}

.secondaryPages__sidebar {
  padding-top: 0;
}

.secondaryPages__sidebar h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 8px;
}

.secondaryPages__sidebar p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 26px;
}

.secondaryPages__sidebar-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 26px;
}

.secondaryPages__sidebar-icon {
  margin-right: 10px;
  width: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.secondaryPages__sidebar-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #F58320 !important;
  text-decoration: none !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.secondaryPages__sidebar-link:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 1200px) {
  .secondaryPages__sidebar p br {
    display: none;
  }
}

@media (max-width: 767px) {
  .secondaryPages .first {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .secondaryPages .last {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }

  .secondaryPages__sidebar {
    padding-top: 26px;
  }

  .secondaryPages {
    padding-top: 36px;
    padding-bottom: 45px;
  }

  .secondaryPages h1 {
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 0;
    margin-bottom: 18px;
  }

  .secondaryPages__content h2 {
    font-size: 18px;
    line-height: 26px;
  }

  .aboutPage {
    padding-bottom: 70px;
  }

  .aboutPage .col-lg-12 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }

  .aboutPage .col-lg-7 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .aboutPage .col-lg-4 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .aboutPage .secondaryPages__sidebar {
    padding-top: 0;
    padding-bottom: 10px;
  }

  .secondaryPages.aboutPage h1 {
    margin-bottom: 14px;
  }
}