// buttons

.btn {
	color: #fff;
	background: transparent;
	text-align: center;
	padding: 13px 31px;
	font-size: 18px;
	line-height: 22px;
	border: 2px solid #FFFFFF;
	transition: all 0.3s;
	text-decoration: none;
	&:hover {
		background: #fff;
		color: $black;
	  }
  }

  .btn-bordered {
	border-radius: 30px;
  }

  .btn-red {
	transition: all 0.3s;
	  border: 2px solid $red;
	  color: $red;
	  &:hover {
		background: $red;
		color: #fff;
	  }
  }
