// card

.card__box {
    margin-bottom: 93px;
    &-img {
        height: 182px;
        display: flex;
        align-items: center;
        // justify-content: center;
        img {
            max-width: 100%;
            height: auto;
        }
    }

    &-title {
        font-size: 22px;
        line-height: 27px;
        margin-top: 6px;
        margin-bottom: 28px;
    }

    &-btns {

    }

    &-btn {
        margin-right: 13px;
        &:last-child {
            margin-right: 0;
        }
    }
}