// reviews

.reviews__box {

    &-img {
        margin-bottom: 32px;
    }

    &-stars {
        margin-bottom: 20px;
    }

    &-star {
        margin-right: 14px;
        &:last-child {
            margin-right: 0;
        }
    }

    &-text {
        font-size: 16px;
        line-height: 27px;
        padding-right: 31px;
        .show_more {
            display: block;
            font-size: 16px;
            line-height: 47px;
            color: $red;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }

}